@model PartyInvites.Models.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Dashboard</title>
</head>
<body>

    <div class="text-center">
        <h3> Currently Logged In, name: @Model.FirstName, @Model.LastName, Email: @Model.Email</h3>

        <a class="btn btn-primary" asp-action="RsvpForm">Users List</a>
        <a class="btn btn-primary" asp-action="SignOut">Sign Out</a>

    </div>
</body>
</html>
